@charset "UTF-8";

p {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input.text {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    margin: 5px;
    width: 125px;
}
div.label {
    text-align: center;
    color: rgb(172, 5, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.logar {
    padding-top: 13px;
    font-weight: bolder;
    font-size: large;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.116);
    width: 80%;
    height: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}